:local(.card) {
  width: 400px;
  height: 600px;
  border: 1px solid silver;
  padding: 0;
  position: relative;
}

:local(.card-header) {
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lime;
  padding: 20px;
}

:local(h2) {
  margin: 0;
}
